body {
  margin: 0;
}
.nav-logo {
  height: 50px;
}

.project-cards {
  padding: 0 130px;
}

.img-projects {
  border-radius: 5px;
  width: 400px;
}

@media only screen and (max-width: 800px) {
  .project-cards {
    padding: 0;
  }
  .gallery .image {
    max-width: 350px;
    display: block;
    margin: 0 auto;
  }
}

::selection {
  color: #fff;
  background: rgb(43, 193, 66);
}

.wrapper {
  margin: 100px auto;
  max-width: 1100px;
}
.wrapper nav {
  display: flex;
  justify-content: center;
}
.wrapper .items {
  display: flex;
  max-width: 720px;
  width: 100%;
  justify-content: space-between;
}
.items span {
  padding: 7px 25px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  color: rgb(43, 193, 66);
  border-radius: 50px;
  border: 2px solid rgb(43, 193, 66);
  transition: all 0.3s ease;
}
.items span.active,
.items span:hover {
  color: #fff;
  background: rgb(43, 193, 66);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
.gallery .image {
  width: calc(100% / 4);
  padding: 7px;
}
.gallery .image span {
  display: flex;
  width: 100%;
  overflow: hidden;
}
.gallery .image img {
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  vertical-align: middle;
  transition: all 0.3s ease;
}
.gallery .image:hover img {
  border-radius: 5px;
  transform: scale(1.1);
}
.gallery .image.hide {
  display: none;
}
.gallery .image.show {
  animation: animate 0.4s ease;
}
@keyframes animate {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 1000px) {
  .gallery .image {
    width: calc(100% / 3);
  }
}
@media (max-width: 800px) {
  .gallery .image {
    width: calc(100% / 2);
  }
}
@media (max-width: 700px) {
  .wrapper nav .items {
    max-width: 600px;
  }
  nav .items span {
    padding: 7px 15px;
  }
}
@media (max-width: 600px) {
  .wrapper {
    margin: 30px auto;
  }
  .wrapper nav .items {
    flex-wrap: wrap;
    justify-content: center;
  }
  nav .items span {
    margin: 5px;
  }
  .gallery .image {
    width: 100%;
  }
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 70px;
  padding-bottom: 100px;
  left: 0;
  top: 72px;
  overflow: auto;
  background-color: white;
}

@media (max-width: 800px) {
  .modal {
    top: 70px;
  }
  .modal img {
    max-height: 500px;
    max-width: 300px;
  }
  .close {
    font-size: 50px;
  }
}
@media(max-width:600px){

  .modal img{
    height: auto;
    max-width: unset;
    margin: 0;
  }
  .mySlides{
    padding: 0;
  }
}
.modal::-webkit-scrollbar{
  display: none;
}

.modal img {
  display: block;
  margin: 0 auto;
  background-color: black;
  height: 550px;
}

/* Modal Content */
.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: black;
  position: absolute;
  top: 16px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #333;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  font-weight: 800;
  top: 0;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

html {
  background: black;
}

footer {
  background: black;
  color: white;
  padding: 2rem;
}
