img {
    pointer-events: none;
}
.shrishtiRow {
   display: flex;
   justify-content: center;
   align-items: center;
   background: #fff;
   font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
   font-size: 14px;
   color: #000;
   background-color: #eee;
   margin: 0;
   padding: 0;
}

.swiper-container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: auto;
   width: 100%;
   padding-top: 50px;
   padding-bottom: 50px;
}

.swiper-slide {
   background-position: center;
   background-size: cover;
   width: 400px !important;
   background-color: #ff156f;
   overflow: hidden;
   border-radius: 8px;
   height: 100%;
}

.picture {
   width: 100%;
   height: 590px;
   overflow: hidden;
   background: #aaaaaa;
   background: linear-gradient(270deg,
           #aaaaaa 0%,
           #dedede 35%,
           #e6e6e6 100%);
}

.picture img {
   display: block;
   width: 100%;
   height: 100%;
   -o-object-fit: cover;
   object-fit: cover;
}
@media(max-width:600px){

   .swiper-slide{
       width: 325px !important;
   }
   .picture{
       height: 480px !important;
   }
}